:root {
    --bs-body-font-family: "Noto Sans TC", Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 400;
    text-transform: none;
    --bs-primary-rgb: 117, 164, 218;
    --bs-link-color: rgb(117, 164, 218);
    --bs-link-hover-color: rgb(101, 113, 185);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Noto Sans TC", "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    text-transform: none
}

h2{
    text-transform: uppercase;
}

.tooltip, .popover,.subheading  {
    font-family: "Noto Sans TC", "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    text-transform: none;
}

a{
    text-decoration: none;
}

.social-icons .social-icon:hover {
    background-color: rgb(194, 214, 238);
    }

nav{
    background-image: url("../assets/img/argyle.png");
}

.resume-section{
    background-color: rgb(194, 214, 238);
}